@charset "utf-8";
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}

.row.content {height:auto;}

}.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

/********************************************************************************/
/*								                                                */
/*  Design RIAN     			                                                */
/*  Date : 2007-03-21		                                                  	*/
/*      				         			                                    */
/*									                                            */
/********************************************************************************/
* {margin:0;padding:0;}
* html {height:1px;}
body {margin:0; padding:0; font-family:"굴림"; font-size:12px; color:#666;}
table, tr, td, th {font-family:"돋움"; font-size:11px; color:#333333;}
.listtd {padding:10px 5px 8px 5px; border-bottom:1px solid #e5e5e5;}
img {border:0; vertical-align:middle;}
p { height:20px; margin:0; padding:5 0 0 0;}
.check ul {margin:0; padding:0; float:left;}
.check li {list-style-type:none; float:left; margin:0 0 0 0; padding:0 0 0 3px;}
.top {vertical-align:top;}

a:link { font-size:11px; font-family:"돋움"; color:#3A5870; text-decoration:none; line-height:100%;}
a:visited { font-size:11px; font-family:"돋움"; color:#3A5870; text-decoration:none}
a:active { font-size:11px; font-family:"돋움"; color:#339999; text-decoration:none;}
a:hover { font-size:11px; font-family:"돋움"; color:#339999; text-decoration:none;}
